.logo {
	display: inline-block;
	vertical-align: top;
	width: 12%;
}
	.navigation > a {
	    text-decoration: none;
	    margin-right: 80px;
	    padding: 10px;
		float: right;
	    font-family: Arial, serif;
	    color: black;
	}
		a.active {
			display: block;
		    background-color: black;
			color: white;
			font-weight: bold;
		}
			a:hover:not(.active) {
			    background-color: grey;
			    color: white;
			}
.socialmedia a {
	text-decoration: none;
	width: 50px;
}
.socialmedia img {
	width: 4%;
	height: 4%;
}

/*style for aboutme.html*/
.main {
	font-family: Arial, serif;
	width: 70%;
	margin: 0 auto;
	text-align: justify;
}
	.header	{
	 	font-family: Arial, serif;
	 	font-size: 30px;
	 	font-weight: bold;	
	 	width: 300px
		border: 14px red;
		background-color: lightblue;
		text-align: left;
	}
.backtotop {
 	font-family: Arial, serif;
 	font-size: 15px;	
 	text-decoration: none;
 	color: black;
 	margin: 20px;
}

/*style for gallary.html*/
.myimages {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	.myimages img {
		width: 45%;
		vertical-align: middle;
		padding: 10px;
	}

/*Style change for different view:*/
@media (max-width: 767px) {
	.logo {
		height: 15%;
		width: 15%;
	}
	.navigation > a {
	    margin-right: 3px;
	    padding: 3px;
	    font-size: 11.5px;
	}
	.socialmedia img {
	width: 5%;
	height: 5%;
	}
	.myimages img {
		display: block;
		width:100%;
	}
}

