.logo {
	display: inline-block;
	vertical-align: top;
}

.navigation > a {
    text-decoration: none;
    margin-right: 80px;
    padding: 10px;
	float: right;
    font-family: Arial, serif;
    color: black;
}

a.active {
	display: block;
    background-color: black;
	color: white;
	font-weight: bold;
}

.socialmedia a {
	text-decoration: none;
	width: 50px;
}


.socialmedia img {
	width: 30px;
	height: 30px;
}

.main {
	font-family: Arial, serif;
	width: 70%;
	margin: 0 auto;
	text-align: justify;
}

.header	{
 	font-family: Arial, serif;
 	font-size: 30px;
 	font-weight: bold;	
 	width: 300px
	border: 14px red;
	background-color: lightblue;
	text-align: left;
}


.backtotop {
 	font-family: Arial, serif;
 	font-size: 15px;	
 	text-decoration: none;
 	color: black;
 	margin: 20px;
}